[submodule "builder/cpp-project-builder"]
	path = builder/cpp-project-builder
	url = ../cpp-project-builder.git
[submodule "builder/arduino-builder"]
	path = builder/arduino-builder
	url = ../arduino-builder.git
